// ========== Google Font
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hind:wght@300;400;500;600;700&display=swap');
// ========== Global Style
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Assistant", sans-serif;
}
// ========== Variable
$clr-primary: #3DA9FC;
$clr-primary-variant: #90B4CE;
$clr-secondry: #EF4565;
$clr-dark: #5F5C7B;
$clr-dark-variant: #094067;
$clr-background: #FFFFFE;
$clr-background-variant: #D8EEfE;
$box-shandow: 5px 5px 20px rgba(0,0,0,0.05);
$font-head-title:"Cormorant Infant", serif;
$font-sub-title:"Hind", sans-serif;
// ========== Based Style
html{
    &::-webkit-scrollbar{
        width: .5vw;
    }
    &::-webkit-scrollbar-thumb{
        background: $clr-primary;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $clr-background;
    }
}
.section{
    padding: 100px 20px 20px 20px;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.head-title{
    &::before{
        content: attr(data-small-title);
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: $clr-primary;
        font-family: $font-head-title;
        font-weight: 700;
        text-transform: capitalize;
    }
}
.outer-button{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px;
    background: $clr-primary;
    border: solid 3px $clr-primary;
    transition: all 300ms ease;
    cursor: pointer;
    .inner-button{
        background: none;
        border: none;
        color: $clr-primary;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        cursor: pointer;
    }
    &:hover{
        background: $clr-background;
        border: solid 3px $clr-primary;
        .inner-button{
            color: $clr-primary;
        }
    }
}
// ========== Keyframes
@keyframes load_line {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes load_sub_line_bottom {
    0%{
        transform: translateY(-73px);
        height: 46px;
    }
    100%{
        transform: translateY(-50px);
        height: 0px;
    }
}
@keyframes load_sub_line_top {
    0%{
        transform: translateY(73px);
        height: 46px;
    }
    100%{
        transform: translateY(50px);
        height: 0px;
    }
}
@keyframes work_item {
    0%{
        box-shadow: $box-shandow;
        border: 4px solid $clr-background-variant;
    }
    100%{
        box-shadow: 0px 0px 10px $clr-primary;
        border: 4px solid $clr-primary;
    }
}
@keyframes loop_up {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
// ========== Background

// ========== Navigation Bar
.navigation-bar{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    background: $clr-background;
    box-shadow: $box-shandow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 10px 30px;
    z-index: 1000;
    transform: all .5s ease;

    .head-title{
        font-size: 34px;
        color: $clr-primary;
        text-transform: capitalize;
        font-style: $font-head-title;
        font-weight: 700;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            margin: 0 10px;
            text-transform: capitalize;

            a{
                color: $clr-dark;
                font-size: 20px;
                font-weight: 700;
                transition: all 300ms ease;

                &:hover{
                    color: $clr-dark-variant;
                }
            }
        }
    }

    .account-box{
        display: flex;

        .box{
            margin: 0 5px;
            padding: 5px 0;
            display: flex;
            box-shadow: $box-shandow;
            width: 100px;
            align-items: center;
            justify-content: center;
            color: $clr-primary;
            font-weight: 600;
            text-transform: capitalize;
            border: .5px solid $clr-primary;
            border-radius: 5px;
            cursor: pointer;
            transition: all 300ms ease;

            &.signup-bar{
                background: $clr-background-variant;

            }

            i{
                margin-left: 5px;
            }

            &:hover{
                color: $clr-background;
                border: 0px;
                background: $clr-primary;
            }
        }
    }

}
// ========== Home Page
.home-page{
    height: 120vh;
    background: $clr-background;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after{
        content: " ";
        height: 700px;
        width: 700px;
        border-radius: 25px;
        background: $clr-background-variant;
        box-shadow: $box-shandow;
        position: absolute;
        overflow-x: hidden;
        top: 50px;
        right: -400px;
        transform: rotate(45deg);
        z-index: -1;
    }

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .content{

            .head-title{
                color: $clr-dark;
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;

                span{
                    font-family: inherit;
                    color: $clr-primary;
                    text-transform: capitalize;
                }
            }

            .sub-title{
                margin: 20px 0 40px;
                font-size: 18px;
                color: $clr-dark;
                width: 450px;
            }
            
            .download-box{

                .content-box{
                    display: flex;
                    align-items: center;

                    .box{
                        width: 170px;
                        height: 50px;
                        border-radius: 10px;
                        overflow: hidden;
                        cursor: pointer;

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                        &:first-child{
                            margin-right: 20px;
                        }
                    }
                }
            }

            .image-box{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 500px;
                height: 500px;

                img{
                    width: 100%;
                    height: 70%;
                    object-fit: cover;
                }
            }
        }
    }

    .form-container{
        position: absolute;
        bottom: 10%;
        left: 5%;
        width: 830px;
        padding: 20px;
        background: $clr-background-variant;
        box-shadow: $box-shandow;
        display: flex;
        border-radius: 10px;
        
        .input-group{
            width: 300px;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20px;

            input{
                width: 100%;
                height: 40px;
                padding: 10px;
                border: none;
                border-radius: 5px;

                &:valid{
                    outline: none;
                }

                &::placeholder{
                    color: $clr-dark;
                    text-transform: capitalize;
                }
            }

            .input-sub-group{
                display: flex;
                justify-content: space-between;

                input{
                    width: 48%;
                    color: $clr-dark;
                }
            }
        }
        
        .form-button{
            height: 90px;
            width: 150px;
            background: $clr-primary;
            border: none;
            border-radius: 5px;
            color: $clr-background;
            font-size: 30px;
            font-weight: 500;
            text-transform: capitalize;
            font-family: $font-sub-title;
            cursor: pointer;

            transition: all 300ms ease;

            &:hover{
                background: $clr-primary-variant;
            }
        }
    }

}
// ========== How It Works Page
.how-its-works-page{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    // overflow: hidden;
    padding: 10px 20px;

    .head-title{
        line-height: 46px;
        font-size: 42px;
        font-weight: 800;
        color: $clr-dark-variant;
        margin-bottom: 10px;
        position: absolute;
        top: 80px;

        &::before{
            content: attr(data-small-title);
            text-align: center;

        }
    }
    
    &::before{
        content: "";
        width: 100%;
        height: 4px;
        background: $clr-background-variant;
        top: 70%;
        left: 0;
        position: absolute;
    }
    &::after{
        content: "";
        width: 100%;
        height: 4px;
        background: $clr-primary;
        box-shadow: 1px 1px 10px $clr-primary;
        top: 70%;
        left: 0;
        position: absolute;
        z-index: 2;
        animation: load_line 10s linear forwards;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70%;

        .box-item{
            display: flex;
            justify-items: center;
            position: absolute;
            gap: 100px;

            .item{
                width: 100px;
                height: 100px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                background: $clr-background;
                border: 4px solid $clr-background-variant;
                box-shadow: $box-shandow;
                z-index: 5;
                transition: all 500ms ease;

                i{
                    position: absolute;
                    font-size: 50px;
                    color: $clr-primary;
                    transition: all 300ms ease;
                }
                .head-title{
                    font-size: 28px;
                    position: absolute;
                    color: $clr-dark-variant;
                    text-transform: capitalize;
                    font-weight: 900;
                    width: 200px;
                    text-align: center;
                }

                .sub-title{
                    position: absolute;
                    font-size: 16px;
                    font-weight: 600;
                    color: $clr-dark;
                    width: 200px;
                    text-align: center;
                }

                &:nth-child(odd){
                    transform: translateY(-100%);
                    animation:  work_item .2s ease forwards;

                    &::before{
                        content: "";
                        width: 4px;
                        height: 50px;
                        background: $clr-primary;
                        position: absolute;
                        transform: translateY(75px);
                        z-index: -2;
                    }

                    &::after{
                        content: "";
                        width: 4px;
                        height: 50px;
                        background: $clr-background-variant;
                        position: absolute;
                        transform: translateY(75px);
                        z-index: -1;
                        animation: load_sub_line_top 1s linear forwards;
                    }

                    .head-title{
                        transform: translateY(-160px);
                    }
                    .sub-title{
                        transform: translateY(-70px);
                    }
                }

                &:nth-child(even){
                    transform: translateY(100%);
                    animation: work_item .3s ease forwards;

                    &::before{
                        content: "";
                        width: 4px;
                        height: 46px;
                        background: $clr-primary;
                        position: absolute;
                        transform: translateY(-73px);
                        z-index: -2;
                    }

                    &::after{
                        content: "";
                        width: 4px;
                        height: 46px;
                        background: $clr-background-variant;
                        position: absolute;
                        transform: translateY(-73px);
                        z-index: -1;
                        animation: load_sub_line_bottom 1s linear forwards;
                    }

                    .head-title{
                        transform: translateY(10px);
                    }

                    .sub-title{
                        transform: translateY(100px);
                    }
                }

                &:nth-child(1){
                    animation-delay: 2.8s;

                    &::after{
                        animation-delay: 1.9s;
                    }
                }
                &:nth-child(2){
                    animation-delay: 4.4s;

                    &::after{
                        animation-delay: 3.4s;
                    }
                }
                &:nth-child(3){
                    animation-delay: 6s;

                    &::after{
                        animation-delay: 5s;
                    }
                }
                &:nth-child(4){
                    animation-delay: 7.3s;

                    &::after{
                        animation-delay: 6.3s;
                    }
                }
                &:nth-child(5){
                    animation-delay: 9.3s;

                    &::after{
                        animation-delay: 8.2s;
                    }
                }
            }
        }
    }
}
// ========== Milestone Page
.milestone-page{
    width: 100%;
    height: 100%;
    background: $clr-background;
    -webkit-user-select: none;
    user-select: none;

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: 50px 0;
        width: 100%;

        .milstone-box{
            height: 150px;
            width: 250px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 20px;
            overflow: hidden;

            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $clr-background-variant;
                z-index: 1;
                display: flex;
                opacity: .6;
            }

            .milestone{
                font-size: 40px;
                color: $clr-primary;
                font-weight: 800;
                z-index: 2;
            }

            .milestone-info{
                font-size: 20px;
                color: $clr-dark-variant;
                text-transform: capitalize;
                font-weight: 600;
                font-family: $font-sub-title;
                z-index: 2;
            }
        }
    }
}
// ========== Service Page
.service-page{

    .container{
        display: flex;
        flex-direction: row;

        .box{
            width: 700px;
            height: 100%;
            position: relative;

            &:nth-child(2){
                width: 100%;
            }

            .image-box{
                width: 500px;
                height: 500px;
                transform: translateX(-100px);

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .head-title{
                font-size: 36px;
                line-height: 40px;
                font-weight: 600;
                color: $clr-dark-variant;
                margin-bottom: 10px;
            }

            .sub-title{
                font-size: 16px;
                line-height: 20px;
                color: $clr-dark-variant;
                font-family: $font-sub-title;
            }

            .service-content{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                margin-top: 20px;

                .service-item{
                    width: 300px;
                    height: 100px;
                    display: flex;

                    .logo{
                        width: 50px;
                        height: 50px;
                        padding: 0 0 20px 20px;
                        margin-right: 20px;
                        position: relative;
                        display: flex;
                        justify-content: center;

                        i{
                            font-size: 20px;
                            position: absolute;
                            color: $clr-primary;

                            &:nth-child(2){
                                transform: translate(5px, 2px);
                                z-index: -1;
                                color: $clr-primary-variant;
                                opacity: .6;
                            }
                        }
                    }

                    .head-title{
                        font-size: 24px;
                        line-height: 26px;
                        font-weight: 600;
                        font-family: inherit;
                        text-transform: capitalize;

                    }

                    .sub-title{
                        font-size: 16px;
                        line-height: 16px;

                    }
                }
            }
        }
    }
}
// ========== Suggest Car Page
.suggest-page{
    background: $clr-background;
    overflow-x: hidden;

    .container{
        display: flex;
        justify-content: space-between;

        .box{
            width: 500px;
            height: 500px;

            .head-title{
                font-size: 46px;
                line-height: 46px;
                font-weight: 800;
                color: $clr-dark-variant;
                margin-bottom: 10px;
            }

            .sub-title{
                font-size: 16px;
                font-family: $font-sub-title;
                line-height: 16px;
                margin-bottom: 15px;
                color: $clr-dark;
            }

            .car-name{
                font-size: 18px;
                color: $clr-secondry;
                font-weight: 600;
                text-transform: capitalize;
            }

            .superiority-box{
                margin-bottom: 20px;

                .item{
                    color: $clr-dark;
                    margin: 10px 0;

                    i{
                        color: $clr-primary;
                        margin-right: 10px;
                    }
                }
            }

            &:nth-child(2){
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
            }

            .background{
                width: 400px;
                height: 450px;
                background: $clr-primary-variant;
                border-radius: 20px;
                position: absolute;
                z-index: 1;

                &::after{
                    content: "";
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                    background: $clr-background-variant;
                    border-radius: 10px;
                    box-shadow: $box-shandow;
                    z-index: 1;
                    animation: loop_up ease 3s infinite;
                }
                &::before{
                    content: "";
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: -40px;
                    left: -40px;
                    background: $clr-background-variant;
                    border-radius: 10px;
                    box-shadow: $box-shandow;
                    z-index: 1;
                    animation: loop_up ease 5s infinite;
                }
            }

            .image-box{
                position: absolute;
                z-index: 2;
                width: 500px;
                height: 500px;

                img{
                    width: 130%;
                    height: 90%;
                    object-fit: contain;
                }
            }
        }
    }
}
// ========== Car Page
.car-page{
    height: 100%;
    position: relative;

    .find-car-bar{
        width: 100%;
        height: 250px;
        padding: 20px;
        margin-bottom: 40px;
        background: $clr-background;
        box-shadow: $box-shandow;
        border-radius: 20px;
        border: 2px solid $clr-background-variant;
        display: flex;
        flex-direction: row;

        .left-container{
            min-width: 450px;
            height: 210px;
            display: grid;
            justify-content: space-between;

            .text-title{
                .head-title{
                    font-size: 40px;
                    color: $clr-primary;
                    font-weight: 900;

                }
                .sub-title{
                    font-size: 16px;
                    margin-top: 20px;
                    line-height: 20px;
                    color: $clr-dark;
                    font-family: $font-sub-title;
                }
            }

            .bottom-box{
                width: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .left-box{
                    width: 200px;
                    display: flex;

                    .circle-profile{
                        width: 40px;
                        height: 40px;
                        font-size: 18px;
                        color: $clr-primary;
                        font-weight: 700;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 3px solid $clr-background-variant;
                        background: $clr-background;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }

                        &:nth-child(2){
                            transform: translateX(-30%);
                        }
                        &:nth-child(3){
                            transform: translateX(-60%);
                        }
                        &:nth-child(4){
                            transform: translateX(-90%);
                        }
                        &:nth-child(5){
                            transform: translateX(-120%);
                        }
                    }
                }
                .seprator{
                    width: 3px;
                    height: 50px;
                    background: $clr-background-variant;
                    border-radius: 5px;
                }

                .right-box{
                    .star-box{
                        i{
                            color: $clr-primary;
                        }
                    }
                    p{
                        font-size: 16px;
                        text-transform: capitalize;
                        color: $clr-dark;
                        opacity: .8;
                    }
                }
            }
        }

        .right-container{
            width: 100%;
            height: 210px;
            padding: 20px;
            background: $clr-background;
            border-radius: 10px;
            border: 2px solid $clr-background-variant;
            align-items: center;
            justify-content: space-between;
            display: flex;

            label{
                font-size: 18px;
                font-weight: 700;
                color: $clr-primary;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i{
                    margin-right: 10px;
                    font-size: 16px;

                }
            }

            input{
                height: 40px;
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                transition: all 300ms ease;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                color: $clr-dark;
                text-transform: capitalize;

                &:valid{
                    border: 2px solid $clr-background-variant;
                }

                &:hover, &:focus{
                    border: 2px solid $clr-primary;
                }
            }

            .form-container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 48%;
                height: 170px;

                .top-box{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .bottom-box{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .box{
                        width: 48%;
                    }
                }
            }
        }
    }

    .car-container{
        display: flex;

        .filter-car-bar{
            width: 300px;
            height: 100%;
            padding: 20px;
            margin-right: 40px;
            background: $clr-background;
            box-shadow: $box-shandow;
            border-radius: 20px;
            border: 2px solid $clr-background;

            .head-title{
                font-size: 20px;
                font-weight: 900;
                color: $clr-primary;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i{
                    color: $clr-secondry;
                    margin-left: 5px;
                }
            }

            .car-category-container{

                .car-category{
                    height: 20px;
                    overflow: hidden;

                    &:not(:first-child){
                        margin-top: 15px;
                    }

                    .top-box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;

                        .head-title{
                            font-size: 16px;
                            line-height: 16px;
                            margin: 0;
                            color: $clr-dark-variant;
                            font-weight: 700;
                            align-items: inherit;
                            font-family: $font-sub-title;
                        }

                        .show-button{

                            &::before{
                                content: "\2b";
                                font-family: "Font Awesome 6 Free";
                                font-weight: 900;
                                display: inline-block;
                                font-style: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                font-size: 15px;
                                line-height: 15px;
                                color: $clr-primary;
                            }
                        }
                    }

                    .category-content{
                        .category-car{
                            display: flex;
                            align-items: center;

                            input{
                                cursor: pointer;
                            }
                            label{
                                font-size: 16px;
                                color: $clr-dark-variant;
                                text-transform: capitalize;
                                margin: 0 5px;

                            }

                            .category-count{
                                font-size: 14px;
                                line-height: 14px;
                                color: $clr-dark;
                                font-weight: 700;
                            }
                        }
                    }

                    &.show{
                        height: 100%;

                        .top-box{
                            .show-button{

                                &::before{
                                    content: "\f068";
                                    font-family: "Font Awesome 6 Free";
                                    font-weight: 900;
                                    display: inline-block;
                                    font-style: normal;
                                    text-rendering: auto;
                                    -webkit-font-smoothing: antialiased;
                                    font-size: 15px;
                                    line-height: 15px;
                                    color: $clr-primary;
                                }
                            }
                        }
                    }
                }
            }
        }

        .car-item-box{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
            gap: 25px;

            .car-item{
                width: 250px;
                height: 300px;
                padding: 10px;
                border-radius: 10px;
                background: $clr-background;
                box-shadow: $box-shandow;
                position: relative;
                border: 1px solid $clr-background;
                transition: all 300ms ease 300ms;

                .car-name{
                    font-size: 27px;
                    line-height: 20px;
                    text-transform: capitalize;
                    color: $clr-primary;
                    font-weight: 800;
                }

                .car-body-category{
                    font-size: 16px;
                    line-height: 18px;
                    color: $clr-primary-variant;
                    opacity: .8;
                    position: relative;

                }
                .price{
                    display: flex;
                    font-size: 16px;
                    font-weight: 700;
                    color: $clr-dark;
                    position: relative;

                    p{
                        font-size: 32px;
                        line-height: 32px;
                        color: $clr-dark-variant;
                    }
                    span{
                        position: absolute;
                        bottom: 2px;
                        left: 75px;
                    }
                }

                .car-image{
                    width: 230px;
                    height: 150px;
                    margin-bottom: 20px;

                    img{
                        object-fit: contain;
                        height: 100%;
                        width: 100%;
                    }
                }

                .bottom-content{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .car-feature{
                        padding: 10px;
                        width: 230px;
                        position: absolute;
                        display: flex;
                        opacity: 1;
                        justify-content: space-between;
                        transition: all 300ms ease 300ms;

                        .feature-item{
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            text-transform: capitalize;
                        }
                        
                    }

                    .rent-button{
                        position: absolute;
                        width: 230px;
                        height: 40px;
                        font-size: 20px;
                        font-weight: 700;
                        color: $clr-background;
                        text-transform: capitalize;
                        justify-content: center;
                        align-items: center;
                        background: $clr-primary;
                        border-radius: 10px;
                        cursor: pointer;
                        display: flex;
                        opacity: 0;
                        transition: all 300ms ease 300ms;

                        i{
                            position: absolute;
                            right: 20px;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            background: rgba($color: #fff, $alpha: 0.4);
                        }
                    }
                }

                &:hover{
                    border: 1px solid $clr-primary;
    
                    .bottom-content{
    
                        .car-feature{
    
                            opacity: 0;
                        }
    
                        .rent-button{
                            opacity: 1;
                        }
                    }
                }
            }

            
        }
    }
}
// ========== Testimonials Page
.testimonial-page{
    width: 100%;
    height: 100%;

    .head-title{
        width: 100%;
        padding: 0 0 0 180px;
        text-align: left;
        font-size: 48px;
        font-weight: 800;
        line-height: 48px;
        color: $clr-dark-variant;
        margin-bottom: 50px;
    }

    .testimonials-container{
        -webkit-user-select: none;
        user-select: none;

        .testimonials-box{
            padding-left: 180px;
            margin-bottom: 50px;

           .profile-box{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                height: 300px;
                background: $clr-background;
                box-shadow: $box-shandow;
                padding: 20px;
                border-radius: 20px;
                cursor: grab;

                .top-box{
                    width: 100%;
                    display: flex;

                    .profile-image{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 20px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .profile-info{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .profile-name{
                            font-size: 20px;
                            font-weight: 700;
                            color: $clr-primary;
                            text-transform: capitalize;

                        }
                        .profile-job{
                            font-size: 14px;
                            color: $clr-dark;
                            opacity: 0.8;
                            text-transform: capitalize;
                        }
                    }
                }

                .middle-box{
                    color: $clr-dark;
                    font-size: 16px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                }

                .bottom-box{
                    width: 100%;
                    text-align: left;

                    i{
                        color: $clr-primary;
                    }
                }
                &:last-child{
                    opacity: 0;
                }
            }
        }

       
    }
}
// ========== Update Page
.update-page{
    background: $clr-background;
    min-height: 90vh;

    .container{
        display: flex;
        justify-content: center;

        .box{
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .image-box{
                width: 400px;
                height: 500px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: $box-shandow;

                img{
                    width: 105%;
                    height: 105%;
                    object-fit: cover;
                }
            }

            .head-title{
                font-size: 48px;
                line-height: 46px;
                font-weight: 800;
                color: $clr-dark-variant;
            }

            .update-info{
                color: $clr-dark;
                font-size: 18px;
                margin: 40px 0 20px;
            }

            .email-box{
                width: 100%;
                height: 70px;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border-radius: 10px;
                background: $clr-background-variant;
                box-shadow: $box-shandow;

                input{
                    width: 100%;
                    padding: 10px;
                    font-size: 20px;
                    text-transform: capitalize;
                    color: $clr-primary;
                    outline: none;
                    border: none;
                    background: transparent;

                    &::placeholder{
                        color: $clr-primary;
                    }
                }
                .outer-button{
                    
                    .form-button{
                        color: $clr-background;
                        font-size: 24px;
                        text-transform: capitalize;
                        font-weight: 700;
                    }
                    &:hover{
                        background: $clr-primary;
                    }
                }
            }
        }
    }
}
// ========== Download Page
.download-page{
    padding: 0px;
    min-height: 0vh;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before{
            content: "";
            width: 100%;
            height: 400px;
            background: $clr-background-variant;
            border-radius: 20px;
            position: absolute;
            z-index: 1;
        }

        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 2;
            width: 500px;
            padding: 40px 0 40px 40px;

            &:nth-child(2){
                align-items: center;
                padding: 0;
            }

            .head-title{
                font-size: 40px;
                line-height: 40px;
                color: $clr-dark-variant;
                font-family: $font-sub-title;
                font-weight: 900;

                span{
                    text-transform: capitalize;
                    color: $clr-primary;
                }
            }

            .sub-title{
                font-size: 20px;
                color: $clr-dark-variant;
                font-weight: 500;
                margin: 20px 0;

            }
            .download-box{
                display: flex;
                align-items: center;

                .side{
                    width: 170px;
                    height: 50px;
                    border-radius: 10px;
                    overflow: hidden;
                    cursor: pointer;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .image-box{
                width: 400px;
                height: 700px;
               
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .image-template{
                height: 280px;
                height: 570px;
                border-radius: 40px;
                position: absolute;
                z-index: -10;
                background: $clr-background;
            }
        }
    }
}
// ========== Faq Page
.faq-page{
    background: $clr-background-variant;

    .container{

        .head-title{
            text-align: center;
            font-size: 48px;
            line-height: 46px;
            font-weight: 800;
            columns: $clr-dark-variant;
        }
        .sub-title{
            color: $clr-dark;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            font-weight: 600;
            font-family: $font-sub-title;
            margin-top: 20px;
        }
        .faq-container{
            padding: 50px 0 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            max-height: 80vh;
            gap: 0;

            .faq-item{
                width: 100%;
                background: $clr-background;
                border-radius: 5px;
                padding: 20px;
                position: relative;
                box-shadow: $box-shandow;

                &:not(:last-child){
                    margin-bottom: 20px;
                }

                .title-quest{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    h2{
                        color: $clr-primary;
                        font-size: 20px;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                    a{
                        i{
                            font-size: 24px;
                            color: $clr-primary;
                            cursor: pointer;
                        }
                    }
                }
                .answer{
                    max-height: 0;
                    overflow: hidden;
                    position: relative;
                    color: $clr-dark;
                    font-size: 16px;
                    transition: all .4s ease;
                }
                &:target{
                    .title-quest{
                        h2{
                            -webkit-line-clamp: 2;
                        }

                        a{
                            transform: rotate(180deg);
                        }
                    }
                    .answer{
                        max-height: 100px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
// ========== Copyright
.copyright{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: $clr-primary;
    font-weight: 700;
}
// ========== Media Queries

// ========== For Middle-High Width Device
@media (max-width: 130px){
    .how-its-works-page{
        &::after{
            animation: none;
        }
    }
}
// ========== For Middle-Low Width Device