@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Hind:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Assistant", sans-serif;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}
html::-webkit-scrollbar-thumb {
  background: #3DA9FC;
  border-radius: 5px;
}
html::-webkit-scrollbar-track {
  background: #FFFFFE;
}

.section {
  padding: 100px 20px 20px 20px;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.head-title::before {
  content: attr(data-small-title);
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #3DA9FC;
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  text-transform: capitalize;
}

.outer-button {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border-radius: 10px;
  background: #3DA9FC;
  border: solid 3px #3DA9FC;
  transition: all 300ms ease;
  cursor: pointer;
}
.outer-button .inner-button {
  background: none;
  border: none;
  color: #3DA9FC;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}
.outer-button:hover {
  background: #FFFFFE;
  border: solid 3px #3DA9FC;
}
.outer-button:hover .inner-button {
  color: #3DA9FC;
}

@keyframes load_line {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes load_sub_line_bottom {
  0% {
    transform: translateY(-73px);
    height: 46px;
  }
  100% {
    transform: translateY(-50px);
    height: 0px;
  }
}
@keyframes load_sub_line_top {
  0% {
    transform: translateY(73px);
    height: 46px;
  }
  100% {
    transform: translateY(50px);
    height: 0px;
  }
}
@keyframes work_item {
  0% {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
    border: 4px solid #D8EEfE;
  }
  100% {
    box-shadow: 0px 0px 10px #3DA9FC;
    border: 4px solid #3DA9FC;
  }
}
@keyframes loop_up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navigation-bar {
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  background: #FFFFFE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px 30px;
  z-index: 1000;
  transform: all 0.5s ease;
}
.navigation-bar .head-title {
  font-size: 34px;
  color: #3DA9FC;
  text-transform: capitalize;
  font-style: "Cormorant Infant", serif;
  font-weight: 700;
}
.navigation-bar .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-bar .nav-item li {
  margin: 0 10px;
  text-transform: capitalize;
}
.navigation-bar .nav-item li a {
  color: #5F5C7B;
  font-size: 20px;
  font-weight: 700;
  transition: all 300ms ease;
}
.navigation-bar .nav-item li a:hover {
  color: #094067;
}
.navigation-bar .account-box {
  display: flex;
}
.navigation-bar .account-box .box {
  margin: 0 5px;
  padding: 5px 0;
  display: flex;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  width: 100px;
  align-items: center;
  justify-content: center;
  color: #3DA9FC;
  font-weight: 600;
  text-transform: capitalize;
  border: 0.5px solid #3DA9FC;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.navigation-bar .account-box .box.signup-bar {
  background: #D8EEfE;
}
.navigation-bar .account-box .box i {
  margin-left: 5px;
}
.navigation-bar .account-box .box:hover {
  color: #FFFFFE;
  border: 0px;
  background: #3DA9FC;
}

.home-page {
  height: 120vh;
  background: #FFFFFE;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.home-page::after {
  content: " ";
  height: 700px;
  width: 700px;
  border-radius: 25px;
  background: #D8EEfE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  position: absolute;
  overflow-x: hidden;
  top: 50px;
  right: -400px;
  transform: rotate(45deg);
  z-index: -1;
}
.home-page .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-page .container .content .head-title {
  color: #5F5C7B;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}
.home-page .container .content .head-title span {
  font-family: inherit;
  color: #3DA9FC;
  text-transform: capitalize;
}
.home-page .container .content .sub-title {
  margin: 20px 0 40px;
  font-size: 18px;
  color: #5F5C7B;
  width: 450px;
}
.home-page .container .content .download-box .content-box {
  display: flex;
  align-items: center;
}
.home-page .container .content .download-box .content-box .box {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.home-page .container .content .download-box .content-box .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page .container .content .download-box .content-box .box:first-child {
  margin-right: 20px;
}
.home-page .container .content .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.home-page .container .content .image-box img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-page .form-container {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 830px;
  padding: 20px;
  background: #D8EEfE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  border-radius: 10px;
}
.home-page .form-container .input-group {
  width: 300px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
.home-page .form-container .input-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.home-page .form-container .input-group input:valid {
  outline: none;
}
.home-page .form-container .input-group input::-moz-placeholder {
  color: #5F5C7B;
  text-transform: capitalize;
}
.home-page .form-container .input-group input::placeholder {
  color: #5F5C7B;
  text-transform: capitalize;
}
.home-page .form-container .input-group .input-sub-group {
  display: flex;
  justify-content: space-between;
}
.home-page .form-container .input-group .input-sub-group input {
  width: 48%;
  color: #5F5C7B;
}
.home-page .form-container .form-button {
  height: 90px;
  width: 150px;
  background: #3DA9FC;
  border: none;
  border-radius: 5px;
  color: #FFFFFE;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Hind", sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
}
.home-page .form-container .form-button:hover {
  background: #90B4CE;
}

.how-its-works-page {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.how-its-works-page .head-title {
  line-height: 46px;
  font-size: 42px;
  font-weight: 800;
  color: #094067;
  margin-bottom: 10px;
  position: absolute;
  top: 80px;
}
.how-its-works-page .head-title::before {
  content: attr(data-small-title);
  text-align: center;
}
.how-its-works-page::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #D8EEfE;
  top: 70%;
  left: 0;
  position: absolute;
}
.how-its-works-page::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #3DA9FC;
  box-shadow: 1px 1px 10px #3DA9FC;
  top: 70%;
  left: 0;
  position: absolute;
  z-index: 2;
  animation: load_line 10s linear forwards;
}
.how-its-works-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
}
.how-its-works-page .container .box-item {
  display: flex;
  justify-items: center;
  position: absolute;
  gap: 100px;
}
.how-its-works-page .container .box-item .item {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #FFFFFE;
  border: 4px solid #D8EEfE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 5;
  transition: all 500ms ease;
}
.how-its-works-page .container .box-item .item i {
  position: absolute;
  font-size: 50px;
  color: #3DA9FC;
  transition: all 300ms ease;
}
.how-its-works-page .container .box-item .item .head-title {
  font-size: 28px;
  position: absolute;
  color: #094067;
  text-transform: capitalize;
  font-weight: 900;
  width: 200px;
  text-align: center;
}
.how-its-works-page .container .box-item .item .sub-title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #5F5C7B;
  width: 200px;
  text-align: center;
}
.how-its-works-page .container .box-item .item:nth-child(odd) {
  transform: translateY(-100%);
  animation: work_item 0.2s ease forwards;
}
.how-its-works-page .container .box-item .item:nth-child(odd)::before {
  content: "";
  width: 4px;
  height: 50px;
  background: #3DA9FC;
  position: absolute;
  transform: translateY(75px);
  z-index: -2;
}
.how-its-works-page .container .box-item .item:nth-child(odd)::after {
  content: "";
  width: 4px;
  height: 50px;
  background: #D8EEfE;
  position: absolute;
  transform: translateY(75px);
  z-index: -1;
  animation: load_sub_line_top 1s linear forwards;
}
.how-its-works-page .container .box-item .item:nth-child(odd) .head-title {
  transform: translateY(-160px);
}
.how-its-works-page .container .box-item .item:nth-child(odd) .sub-title {
  transform: translateY(-70px);
}
.how-its-works-page .container .box-item .item:nth-child(even) {
  transform: translateY(100%);
  animation: work_item 0.3s ease forwards;
}
.how-its-works-page .container .box-item .item:nth-child(even)::before {
  content: "";
  width: 4px;
  height: 46px;
  background: #3DA9FC;
  position: absolute;
  transform: translateY(-73px);
  z-index: -2;
}
.how-its-works-page .container .box-item .item:nth-child(even)::after {
  content: "";
  width: 4px;
  height: 46px;
  background: #D8EEfE;
  position: absolute;
  transform: translateY(-73px);
  z-index: -1;
  animation: load_sub_line_bottom 1s linear forwards;
}
.how-its-works-page .container .box-item .item:nth-child(even) .head-title {
  transform: translateY(10px);
}
.how-its-works-page .container .box-item .item:nth-child(even) .sub-title {
  transform: translateY(100px);
}
.how-its-works-page .container .box-item .item:nth-child(1) {
  animation-delay: 2.8s;
}
.how-its-works-page .container .box-item .item:nth-child(1)::after {
  animation-delay: 1.9s;
}
.how-its-works-page .container .box-item .item:nth-child(2) {
  animation-delay: 4.4s;
}
.how-its-works-page .container .box-item .item:nth-child(2)::after {
  animation-delay: 3.4s;
}
.how-its-works-page .container .box-item .item:nth-child(3) {
  animation-delay: 6s;
}
.how-its-works-page .container .box-item .item:nth-child(3)::after {
  animation-delay: 5s;
}
.how-its-works-page .container .box-item .item:nth-child(4) {
  animation-delay: 7.3s;
}
.how-its-works-page .container .box-item .item:nth-child(4)::after {
  animation-delay: 6.3s;
}
.how-its-works-page .container .box-item .item:nth-child(5) {
  animation-delay: 9.3s;
}
.how-its-works-page .container .box-item .item:nth-child(5)::after {
  animation-delay: 8.2s;
}

.milestone-page {
  width: 100%;
  height: 100%;
  background: #FFFFFE;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.milestone-page .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}
.milestone-page .container .milstone-box {
  height: 150px;
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}
.milestone-page .container .milstone-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #D8EEfE;
  z-index: 1;
  display: flex;
  opacity: 0.6;
}
.milestone-page .container .milstone-box .milestone {
  font-size: 40px;
  color: #3DA9FC;
  font-weight: 800;
  z-index: 2;
}
.milestone-page .container .milstone-box .milestone-info {
  font-size: 20px;
  color: #094067;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  z-index: 2;
}

.service-page .container {
  display: flex;
  flex-direction: row;
}
.service-page .container .box {
  width: 700px;
  height: 100%;
  position: relative;
}
.service-page .container .box:nth-child(2) {
  width: 100%;
}
.service-page .container .box .image-box {
  width: 500px;
  height: 500px;
  transform: translateX(-100px);
}
.service-page .container .box .image-box img {
  width: 100%;
  height: 100%;
}
.service-page .container .box .head-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: #094067;
  margin-bottom: 10px;
}
.service-page .container .box .sub-title {
  font-size: 16px;
  line-height: 20px;
  color: #094067;
  font-family: "Hind", sans-serif;
}
.service-page .container .box .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 20px;
}
.service-page .container .box .service-content .service-item {
  width: 300px;
  height: 100px;
  display: flex;
}
.service-page .container .box .service-content .service-item .logo {
  width: 50px;
  height: 50px;
  padding: 0 0 20px 20px;
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.service-page .container .box .service-content .service-item .logo i {
  font-size: 20px;
  position: absolute;
  color: #3DA9FC;
}
.service-page .container .box .service-content .service-item .logo i:nth-child(2) {
  transform: translate(5px, 2px);
  z-index: -1;
  color: #90B4CE;
  opacity: 0.6;
}
.service-page .container .box .service-content .service-item .head-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  font-family: inherit;
  text-transform: capitalize;
}
.service-page .container .box .service-content .service-item .sub-title {
  font-size: 16px;
  line-height: 16px;
}

.suggest-page {
  background: #FFFFFE;
  overflow-x: hidden;
}
.suggest-page .container {
  display: flex;
  justify-content: space-between;
}
.suggest-page .container .box {
  width: 500px;
  height: 500px;
}
.suggest-page .container .box .head-title {
  font-size: 46px;
  line-height: 46px;
  font-weight: 800;
  color: #094067;
  margin-bottom: 10px;
}
.suggest-page .container .box .sub-title {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  line-height: 16px;
  margin-bottom: 15px;
  color: #5F5C7B;
}
.suggest-page .container .box .car-name {
  font-size: 18px;
  color: #EF4565;
  font-weight: 600;
  text-transform: capitalize;
}
.suggest-page .container .box .superiority-box {
  margin-bottom: 20px;
}
.suggest-page .container .box .superiority-box .item {
  color: #5F5C7B;
  margin: 10px 0;
}
.suggest-page .container .box .superiority-box .item i {
  color: #3DA9FC;
  margin-right: 10px;
}
.suggest-page .container .box:nth-child(2) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.suggest-page .container .box .background {
  width: 400px;
  height: 450px;
  background: #90B4CE;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}
.suggest-page .container .box .background::after {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  background: #D8EEfE;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 1;
  animation: loop_up ease 3s infinite;
}
.suggest-page .container .box .background::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: -40px;
  left: -40px;
  background: #D8EEfE;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 1;
  animation: loop_up ease 5s infinite;
}
.suggest-page .container .box .image-box {
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 500px;
}
.suggest-page .container .box .image-box img {
  width: 130%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.car-page {
  height: 100%;
  position: relative;
}
.car-page .find-car-bar {
  width: 100%;
  height: 250px;
  padding: 20px;
  margin-bottom: 40px;
  background: #FFFFFE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 2px solid #D8EEfE;
  display: flex;
  flex-direction: row;
}
.car-page .find-car-bar .left-container {
  min-width: 450px;
  height: 210px;
  display: grid;
  justify-content: space-between;
}
.car-page .find-car-bar .left-container .text-title .head-title {
  font-size: 40px;
  color: #3DA9FC;
  font-weight: 900;
}
.car-page .find-car-bar .left-container .text-title .sub-title {
  font-size: 16px;
  margin-top: 20px;
  line-height: 20px;
  color: #5F5C7B;
  font-family: "Hind", sans-serif;
}
.car-page .find-car-bar .left-container .bottom-box {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-page .find-car-bar .left-container .bottom-box .left-box {
  width: 200px;
  display: flex;
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #3DA9FC;
  font-weight: 700;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #D8EEfE;
  background: #FFFFFE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile:nth-child(2) {
  transform: translateX(-30%);
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile:nth-child(3) {
  transform: translateX(-60%);
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile:nth-child(4) {
  transform: translateX(-90%);
}
.car-page .find-car-bar .left-container .bottom-box .left-box .circle-profile:nth-child(5) {
  transform: translateX(-120%);
}
.car-page .find-car-bar .left-container .bottom-box .seprator {
  width: 3px;
  height: 50px;
  background: #D8EEfE;
  border-radius: 5px;
}
.car-page .find-car-bar .left-container .bottom-box .right-box .star-box i {
  color: #3DA9FC;
}
.car-page .find-car-bar .left-container .bottom-box .right-box p {
  font-size: 16px;
  text-transform: capitalize;
  color: #5F5C7B;
  opacity: 0.8;
}
.car-page .find-car-bar .right-container {
  width: 100%;
  height: 210px;
  padding: 20px;
  background: #FFFFFE;
  border-radius: 10px;
  border: 2px solid #D8EEfE;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.car-page .find-car-bar .right-container label {
  font-size: 18px;
  font-weight: 700;
  color: #3DA9FC;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.car-page .find-car-bar .right-container label i {
  margin-right: 10px;
  font-size: 16px;
}
.car-page .find-car-bar .right-container input {
  height: 40px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 300ms ease;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #5F5C7B;
  text-transform: capitalize;
}
.car-page .find-car-bar .right-container input:valid {
  border: 2px solid #D8EEfE;
}
.car-page .find-car-bar .right-container input:hover, .car-page .find-car-bar .right-container input:focus {
  border: 2px solid #3DA9FC;
}
.car-page .find-car-bar .right-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  height: 170px;
}
.car-page .find-car-bar .right-container .form-container .top-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.car-page .find-car-bar .right-container .form-container .bottom-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.car-page .find-car-bar .right-container .form-container .bottom-box .box {
  width: 48%;
}
.car-page .car-container {
  display: flex;
}
.car-page .car-container .filter-car-bar {
  width: 300px;
  height: 100%;
  padding: 20px;
  margin-right: 40px;
  background: #FFFFFE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 2px solid #FFFFFE;
}
.car-page .car-container .filter-car-bar .head-title {
  font-size: 20px;
  font-weight: 900;
  color: #3DA9FC;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.car-page .car-container .filter-car-bar .head-title i {
  color: #EF4565;
  margin-left: 5px;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category {
  height: 20px;
  overflow: hidden;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category:not(:first-child) {
  margin-top: 15px;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .top-box .head-title {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: #094067;
  font-weight: 700;
  align-items: inherit;
  font-family: "Hind", sans-serif;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .top-box .show-button::before {
  content: "+";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 15px;
  color: #3DA9FC;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .category-content .category-car {
  display: flex;
  align-items: center;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .category-content .category-car input {
  cursor: pointer;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .category-content .category-car label {
  font-size: 16px;
  color: #094067;
  text-transform: capitalize;
  margin: 0 5px;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category .category-content .category-car .category-count {
  font-size: 14px;
  line-height: 14px;
  color: #5F5C7B;
  font-weight: 700;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category.show {
  height: 100%;
}
.car-page .car-container .filter-car-bar .car-category-container .car-category.show .top-box .show-button::before {
  content: "\f068";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 15px;
  color: #3DA9FC;
}
.car-page .car-container .car-item-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 25px;
}
.car-page .car-container .car-item-box .car-item {
  width: 250px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  background: #FFFFFE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  border: 1px solid #FFFFFE;
  transition: all 300ms ease 300ms;
}
.car-page .car-container .car-item-box .car-item .car-name {
  font-size: 27px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3DA9FC;
  font-weight: 800;
}
.car-page .car-container .car-item-box .car-item .car-body-category {
  font-size: 16px;
  line-height: 18px;
  color: #90B4CE;
  opacity: 0.8;
  position: relative;
}
.car-page .car-container .car-item-box .car-item .price {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #5F5C7B;
  position: relative;
}
.car-page .car-container .car-item-box .car-item .price p {
  font-size: 32px;
  line-height: 32px;
  color: #094067;
}
.car-page .car-container .car-item-box .car-item .price span {
  position: absolute;
  bottom: 2px;
  left: 75px;
}
.car-page .car-container .car-item-box .car-item .car-image {
  width: 230px;
  height: 150px;
  margin-bottom: 20px;
}
.car-page .car-container .car-item-box .car-item .car-image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.car-page .car-container .car-item-box .car-item .bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-page .car-container .car-item-box .car-item .bottom-content .car-feature {
  padding: 10px;
  width: 230px;
  position: absolute;
  display: flex;
  opacity: 1;
  justify-content: space-between;
  transition: all 300ms ease 300ms;
}
.car-page .car-container .car-item-box .car-item .bottom-content .car-feature .feature-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.car-page .car-container .car-item-box .car-item .bottom-content .rent-button {
  position: absolute;
  width: 230px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFE;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  background: #3DA9FC;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  opacity: 0;
  transition: all 300ms ease 300ms;
}
.car-page .car-container .car-item-box .car-item .bottom-content .rent-button i {
  position: absolute;
  right: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
}
.car-page .car-container .car-item-box .car-item:hover {
  border: 1px solid #3DA9FC;
}
.car-page .car-container .car-item-box .car-item:hover .bottom-content .car-feature {
  opacity: 0;
}
.car-page .car-container .car-item-box .car-item:hover .bottom-content .rent-button {
  opacity: 1;
}

.testimonial-page {
  width: 100%;
  height: 100%;
}
.testimonial-page .head-title {
  width: 100%;
  padding: 0 0 0 180px;
  text-align: left;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  color: #094067;
  margin-bottom: 50px;
}
.testimonial-page .testimonials-container {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.testimonial-page .testimonials-container .testimonials-box {
  padding-left: 180px;
  margin-bottom: 50px;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 300px;
  background: #FFFFFE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 20px;
  cursor: grab;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box {
  width: 100%;
  display: flex;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box .profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box .profile-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box .profile-info .profile-name {
  font-size: 20px;
  font-weight: 700;
  color: #3DA9FC;
  text-transform: capitalize;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .top-box .profile-info .profile-job {
  font-size: 14px;
  color: #5F5C7B;
  opacity: 0.8;
  text-transform: capitalize;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .middle-box {
  color: #5F5C7B;
  font-size: 16px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .bottom-box {
  width: 100%;
  text-align: left;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box .bottom-box i {
  color: #3DA9FC;
}
.testimonial-page .testimonials-container .testimonials-box .profile-box:last-child {
  opacity: 0;
}

.update-page {
  background: #FFFFFE;
  min-height: 90vh;
}
.update-page .container {
  display: flex;
  justify-content: center;
}
.update-page .container .box {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.update-page .container .box .image-box {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
.update-page .container .box .image-box img {
  width: 105%;
  height: 105%;
  -o-object-fit: cover;
     object-fit: cover;
}
.update-page .container .box .head-title {
  font-size: 48px;
  line-height: 46px;
  font-weight: 800;
  color: #094067;
}
.update-page .container .box .update-info {
  color: #5F5C7B;
  font-size: 18px;
  margin: 40px 0 20px;
}
.update-page .container .box .email-box {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #D8EEfE;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
.update-page .container .box .email-box input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-transform: capitalize;
  color: #3DA9FC;
  outline: none;
  border: none;
  background: transparent;
}
.update-page .container .box .email-box input::-moz-placeholder {
  color: #3DA9FC;
}
.update-page .container .box .email-box input::placeholder {
  color: #3DA9FC;
}
.update-page .container .box .email-box .outer-button .form-button {
  color: #FFFFFE;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
}
.update-page .container .box .email-box .outer-button:hover {
  background: #3DA9FC;
}

.download-page {
  padding: 0px;
  min-height: 0vh;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.download-page .container::before {
  content: "";
  width: 100%;
  height: 400px;
  background: #D8EEfE;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}
.download-page .container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  width: 500px;
  padding: 40px 0 40px 40px;
}
.download-page .container .box:nth-child(2) {
  align-items: center;
  padding: 0;
}
.download-page .container .box .head-title {
  font-size: 40px;
  line-height: 40px;
  color: #094067;
  font-family: "Hind", sans-serif;
  font-weight: 900;
}
.download-page .container .box .head-title span {
  text-transform: capitalize;
  color: #3DA9FC;
}
.download-page .container .box .sub-title {
  font-size: 20px;
  color: #094067;
  font-weight: 500;
  margin: 20px 0;
}
.download-page .container .box .download-box {
  display: flex;
  align-items: center;
}
.download-page .container .box .download-box .side {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.download-page .container .box .download-box .side img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.download-page .container .box .image-box {
  width: 400px;
  height: 700px;
}
.download-page .container .box .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.download-page .container .box .image-template {
  height: 280px;
  height: 570px;
  border-radius: 40px;
  position: absolute;
  z-index: -10;
  background: #FFFFFE;
}

.faq-page {
  background: #D8EEfE;
}
.faq-page .container .head-title {
  text-align: center;
  font-size: 48px;
  line-height: 46px;
  font-weight: 800;
  -moz-columns: #094067;
       columns: #094067;
}
.faq-page .container .sub-title {
  color: #5F5C7B;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  margin-top: 20px;
}
.faq-page .container .faq-container {
  padding: 50px 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  max-height: 80vh;
  gap: 0;
}
.faq-page .container .faq-container .faq-item {
  width: 100%;
  background: #FFFFFE;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
.faq-page .container .faq-container .faq-item:not(:last-child) {
  margin-bottom: 20px;
}
.faq-page .container .faq-container .faq-item .title-quest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.faq-page .container .faq-container .faq-item .title-quest h2 {
  color: #3DA9FC;
  font-size: 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.faq-page .container .faq-container .faq-item .title-quest a i {
  font-size: 24px;
  color: #3DA9FC;
  cursor: pointer;
}
.faq-page .container .faq-container .faq-item .answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  color: #5F5C7B;
  font-size: 16px;
  transition: all 0.4s ease;
}
.faq-page .container .faq-container .faq-item:target .title-quest h2 {
  -webkit-line-clamp: 2;
}
.faq-page .container .faq-container .faq-item:target .title-quest a {
  transform: rotate(180deg);
}
.faq-page .container .faq-container .faq-item:target .answer {
  max-height: 100px;
  margin-top: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #3DA9FC;
  font-weight: 700;
}

@media (max-width: 130px) {
  .how-its-works-page::after {
    animation: none;
  }
}/*# sourceMappingURL=style.css.map */